 /* NAVBAR */
.navbar, .navbar-brand, .nav-link {
  color: white;
}

.buddy {
  font-family: 'Raleway', sans-serif;
  font-size: 24px;
  color:#65A8FF
}

.my-nav{
  z-index: 999;
  background: none;
  border:0 !important;
  border-radius: 0;
  background-color: black;
  opacity: 0.8;
}

.dropdown-menu {
  width: 200px;
}

.btn-group {
  margin-right: 40px;
}


/* Contact*/
.text {
  font-size: 20px;
}

.icons {
  height: 150px;
  width: 150px;
}

.contact {
  background-image: url('../images/contact.JPG');
  width: 100%;
  height: 750px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin-top: -65px;
}

.us {
 margin-top: 200px;
 color: white;
 text-shadow: 2px 1px black;
}

hr {
  border-color: white;
  width: 300px;
}
/* Activities Main */
.minneapolis {
  background-image: url('../images/minneapolis.JPG');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 780px;
  width:100%;
  margin-top: -65px;
  border-bottom: 2px solid black;
}

.change-trip {
  top:90%;
  width: 100%;
  margin-top:300px;
}

.from-row {
  color: black;
  width: 400px;
}

.text-white {
  font-size: 20px;

}

/* MAP */
#map {
  height: 300px;
  width: 100%;
  margin-top: 50px;
  margin-left: 20px;
  margin-right: 20px;
}

#contentRow {
  height: 100%;
  margin-bottom: 0px;
}

/* WEATHER */
#weatherRow{
  background-color: #202020;
  color: white;
  margin-top: 0px;
  width: 100%;
  margin-left: 0px;
}

#weatherDisplay {
  background-color: #202020;
  height: 180px;
  text-align: center;
  margin-top: 30px;
  width: 100%;
}

/*Categories*/
.categories {
  height: 50px;
  width: 90px;
  margin: 5px;
  text-align: center;
  border-radius: 10px;
  border: 1px solid gray;
}

#activityContainer {
  height: 100%;
  width: 100%;
  margin-top: 50px;
  margin-bottom: 10px;
  margin-left: 8px;
}

a, a:link {
  color: black;
  text-shadow: 1px 1px rgb(205, 218, 247);
  text-decoration: none;
}

.card:hover {
    box-shadow: inset 0 0 3px 4px  rgb(205, 218, 247);
}

.card {
  border: 1px solid gray;
  width: 320px;
}

.class {
  margin-right: 300px;
}

.carousel-inner, .carousel-item, .img {
  height: 750px;
}

.carousel-caption {
    position: absolute;
    z-index: 1;
    display:table;
    width:100%;
    height:100%;
}

.trickcenter {
    position: fixed;
    top: 93%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.where {
  margin-top: -350px;
  position: relative;
  left: 20%;
}

h1 {
  text-shadow: 3px 3px black;
  margin-top: -100px;
  font-size: 45px;
}

h2 {
  text-shadow: 3px 3px black;
  margin-top: -30px;
}

/*FOOTER*/
html, body {
  height: 100%;
  margin: 0;
}

.content {
  min-height: 100%;
  min-width: 100%;
}

.content-inside {
  padding: 20px;
  padding-bottom: 30px;
}

.footer {
  height: 100px;
  text-shadow: 1px 1px gray;
  background-color: #202020;
  color:white;
  margin-top: -90px;
}

.fa {
  margin:10px;
  color: #65A8FF;
}

.bottom_ul {
  list-style-type:none;
  float:right;
  margin-bottom:0px;
}

.bottom_ul li {
  float:left;
  line-height:40px;
}

.bottom_ul li:after {
  content:"/";
  color:#FFF;
  margin-right:8px;
  margin-left:8px;
}

.bottom_ul li a {
  color:#FFF;
  font-size:12px;
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

/* The Close Button */
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.img-fluid {
    height: 400px;
}

.form-group {
  left: -10%;
  width: 280px;
}

#addTrip {
  margin-bottom: 20px;
  margin-left: -30px;
}

.destination {
  font-size: 18px;
}

.bottom {
      margin-bottom: 80px;
}
#trip {
  margin-left: 80px;
}

#radio {
    margin-left: 120px;
    margin-bottom: 30px;
  }

/* MEDIA QUERIES */
/*-------------------------------*/
@media (min-width: 576px) {
  .check {
    margin-left: -15px;
  }

  #radio {
    margin-left: 200px;
  }

  .form-check-label {
    margin-left: 10px;
  }

  #trip {
    width: 350px;
    margin-left: 140px;
  }

  #inputDestination {
    margin-left: 30px;
    width: 390px;
  }

  #inputFromDate {
    width: 350px;
    margin-left: 30px;
  }
  
  #inputToDate {
    width: 350px;
    margin-left: 30px;
  }

  .fa {
    padding-right: 110px;
  }

  .input-group-append {
    padding-right: 120px;
  }

  label {
    margin-left: 30px;
  }

  #addTrip {
    margin-left: 80px;
    width: 100px;
    margin-top: 20px;
  }

  #map {
    width:600px;
    margin-left: 25px;
  }

  #accordion {
    margin-left: 100px;
  } 

  #trip-name {
    margin-left: 80px;
  }

  .tripLocation {
    margin-left: 110px;
  }

  .minneapolis {
    height: 830px;
  }

  .form-group {
    margin-left: 70px;
  }

  #destination {
    margin-left: 40px;
  }

}

/* ------------------------- */
@media (min-width: 768px) {
  #radio {
    margin-left: -5px;
  }

  #activityContainer {
    margin-left: 100px;
  }

  #map {
    height:300px;
    width: 100%;
    margin-left: 30px;
  }

  .mb-4 {
    margin-left: -200px;
  }

  #inputDestination {
    width: 500px;
  }

  #inputFromDate {
    width: 500px;
  }
  
  #inputToDate {
    width: 500px;
  }

  .form-group {
    margin-left: 90px;
  }
}
/* -------------------------------*/
@media (min-width: 992px) {

  #inputDestination {
    width: 400px;
  }

  #inputFromDate {
    width: 400px;
  }
  
  #inputToDate {
    width: 400px;  
  }

  #trip {
    margin-left: 320px;
  }

  .change-trip {
    margin-top: 400px;
  }

  .minneapolis {
    height: 900px;
  }

  #addTrip {
    margin-left: 220px;
  }

  #activityContainer {
    margin-left: -50px;
  }

  .mb-4 {
    margin-left: 40px;
  }

  #map {
    height: 600px;
    margin-top: 100px;
  }

  .form-group {
    margin-left: 350px;
  }

  .form-group {
    margin-left: 240px;
  }
}

/* -------------------------------*/
@media (min-width: 1200px) {
  #trip {
    margin-left: 300px;

  }

  #addTrip {
    margin-left: 360px;
  }

  #map {
    margin-left: 30px;
    margin-top: 100px;
  }

  #accordion {
    margin-left: 140px;
  }

  #addTrip {
    margin-left: 140px;
    margin-bottom: 30px;
  }
  h1 {
    font-size: 50px;
  }

  .form-group {
    margin-left: 150px;
  }

  #inputDestination {
    width: 700px;
  }

  #inputFromDate {
    width: 700px;
  }
  #inputToDate {
    width: 700px;
  }

  .fa {
    padding-right: 370px;
  }

  .input-group-append {
    padding-right: 380px;
  }

  #trip-name {
    width: 500px;
    margin-left: 0px;
  }

  #saveTrip {
    margin-top: 20px;
  }
  .minneapolis {
    height: 1000px;
  }
}
@media (min-width: 1400px) { 
  .form-group {
    margin-left: 300px;
  }

  #addTrip {
    margin-left: 280px;
    margin-bottom: 30px;
  }
  #accordion {
    margin-left: 200px;
  }
}

