
/* NAVBAR */
.navbar, .navbar-brand, .nav-link {
  color: white;
  font-size: 20px;
  text-shadow: 1px 1px black;
}

.navbar {
  background-color: none;
  margin-top: none;
  position: 0 0;

}

.nav-link:hover {
  background-color: #65A8FF;
  color: black;
  height: 50px;
  border-radius: 50px;
  height: 50px;
  padding: 10px;
  opacity:0.9;
}

.my-nav{
  z-index: 999;
  background: none;
  border:0 !important;
  border-radius: 0;
}

.dropdown-menu {
  width: 200px;
}

.btn-group {
  margin-right: 40px;
}



/* Contact*/
.text {
  font-size: 20px;
}
.icons {
  height: 150px;
  width: 150px;
}

.contact {
  background-image: url('../images/contact.JPG');
  width: 100%;
  height: 720px;
  opacity: 0.8;
  background-repeat: no-repeat;
  background-position: center; 
  background-size: cover; 
}

.us {
  height: 250px;
  width: 300px;
  text-align: center;
  box-shadow: none;
}


#aboutDisplay {
  background-color: #efcfc9;
  height: 450px;
}

#contentRow {
  height: 900px;
}

/* Activities Main */
.minneapolis {
  background-image: url('../images/minneapolis.JPG');
  background-repeat: no-repeat;
  background-position: center; 
  background-size: cover; 
  height: 720px;
  position: relative;
}

.change-trip {
  position: absolute;
  top:40%;
  width: 100%;
}

.from-row {
  color: black;
}

.text-white {
  text-shadow: 2px 1px black;
  font-size: 18px;

}


/* MAP */
#map {
  height: 100%;
  width: 100%;
}

#activityContainer {
  height: 100%;
}


/* WEATHER */
#weatherDisplay {
  background-color: #c9efc9;
  height: 80px;
  width: 200px;
}


/*Categories*/
.categories {
  height: 70px;
  width: 110px;
  text-align: center;
  border-radius: 10px;
  border: 1px solid gray;
  
}

a, a:link {
  color: black;
  text-shadow: 1px 1px rgb(205, 218, 247);
  text-decoration: none;

}

.card:hover {
    box-shadow: inset 0 0 3px 4px  rgb(205, 218, 247);
}

.card {
  border: 1px solid gray;
}



/* Carousel Index */
.my-carousel {
  margin-top: -70px;
}

.carousel-inner, .carousel-item, .img {
  height: 720px;
}

.form-row {
  color: black;
  font-size: 22px;
  margin-bottom: 30px;
}

.carousel-caption {
    position: absolute;
    z-index: 1;
    display:table;
    width:100%;
    height:100%;
}

.trickcenter {
    position: fixed;
    top: 84%; 
    left: 50%;
    transform: translate(-50%, -50%);  
}
.date {
   position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

h1 {
  font-size: 80px;
  text-shadow: 3px 3px black;
}

h2 {
  text-shadow: 3px 3px black;
}


/*FOOTER*/

html, body {
  height: 100%;
  margin: 0;
}
.content {
  min-height: 100%;
  min-width: 100%;
}
.content-inside {
  padding: 20px;
  padding-bottom: 30px;
}

.footer {
  height: 90px;
  margin-top: -50px;
  text-shadow: 1px 1px gray;
  background-color: #202020;
  color:white;
}

.fa {
  margin:10px;
  color: #65A8FF;
}




.bottom_ul {
  list-style-type:none;
  float:right;
  margin-bottom:0px;
}

.bottom_ul li {
  float:left;
  line-height:40px;
}

.bottom_ul li:after {
  content:"/";
  color:#FFF;
  margin-right:8px;
  margin-left:8px;
}

.bottom_ul li a {
  color:#FFF;
  font-size:12px;
}

