body {
  font-family: 'PT Sans', sans-serif;
  background-color: #F0F0F0;
}


/* NAVBAR */
.navbar, .navbar-brand, .nav-link {
  color: white;
  font-size: 20px;
}

.navbar {
  width: 100%;
  margin-top: none;
}

.buddy {
  font-family: 'Raleway', sans-serif;
  font-size: 28px;
  color:#65A8FF
}


.nav-link:hover {
  background: rgba(0,0,0,0);
  color: white;
  box-shadow: inset 0 0 0 3px white;
}

.nav-link:hover
{
        -webkit-transform: scale(1.1);
        -ms-transform: scale(1.1);
        transform: scale(1.1);
}

.my-nav{
  z-index: 999;
  background: none;
  border:0 !important;
  border-radius: 0;
  background-color: black;
  opacity: 0.8;
}

.dropdown-menu {
  width: 200px;
}

.btn-group {
  margin-right: 40px;
}


/* Contact*/
.text {
  font-size: 20px;
}
.icons {
  height: 150px;
  width: 150px;
}

.contact {
  background-image: url('../images/contact.JPG');
  width: 100%;
  height: 750px;
  background-repeat: no-repeat;
  background-position: center; 
  background-size: cover; 
  margin-top: -65px;
}

.us {
 margin-top: 200px;
 color: white;
 text-shadow: 2px 1px black;
}

hr {
  border-color: white;
  width: 300px;
}
/* Activities Main */
.minneapolis {
  background-image: url('../images/minneapolis.JPG');
  background-repeat: no-repeat;
  background-position: center; 
  background-size: cover; 
  height: 750px;
  width:100%;
  margin-top: -65px;
  border-bottom: 2px solid black;
}

.change-trip {
  top:90%;
  width: 100%;
  margin-top:300px;
}

.from-row {
  color: black;
}

.text-white {
  text-shadow: 2px 1px black;
  font-size: 20px;

}


/* MAP */
.holder{
  height: 100%;
  width: 100%;
  background-color:;
  margin-bottom: 0px;
}

#map {
  height: 1000px;
  width: 100%;
  margin-top: 50px;
  margin-bottom: 20px;
  margin-left: 60px;
  margin-right: 40px;
}


#contentRow {
  height: 100%;
  margin-bottom: 0px;
}


/* WEATHER */
#weatherRow{
  background-color: #202020;
  color: white;
  margin-top: 0px;
  width: 100%;
  margin-left: 0px;
}


#weatherDisplay {
  background-color: #202020;
  height: 180px;
  text-align: center;
  width: 100%;
  
}

.weather {
  color: white;
  text-shadow: 2px 1px black;
  font-size: 20px;
  margin-top: 10px;

}


/*Categories*/
.categories {
  height: 50px;
  width: 90px;
  margin: 5px;
  text-align: center;
  border-radius: 10px;
  border: 1px solid gray;
  
}


#activityContainer {
  height: 100%;
  width: 100%;
  margin-top: 50px;
  margin-bottom: 20px;
  margin-right: 40px;
}

a, a:link {
  color: black;
  text-shadow: 1px 1px rgb(205, 218, 247);
  text-decoration: none;

}

.card:hover {
    box-shadow: inset 0 0 3px 4px  rgb(205, 218, 247);
}

.card {
  border: 1px solid gray;
  width: 320px;
}



/* Carousel Index */
.my-carousel {
  margin-top: -70px;
  margin-bottom: 45px;
}

.carousel-inner, .carousel-item, .img {
  height: 750px;
}

.form-row {
  position: relative;
  color: black;
  font-size: 22px;
  margin-bottom: 30px;
  float: center;
}

.carousel-caption {
    position: absolute;
    z-index: 1;
    display:table;
    width:100%;
    height:100%;
}

.trickcenter {
    position: fixed;
    top: 93%; 
    left: 50%;
    transform: translate(-50%, -50%);  
}

.where {
  margin-top: -350px;
  position: relative;
  left: 20%;
}

h1 {
  font-size: 60px;
  text-shadow: 3px 3px black;
}

h2 {
  text-shadow: 3px 3px black;
}

#appDescription{
  position: absolute;
  top: 107%;
  right: 10%;
  left: 10%;
  text-align: center;
}


/*FOOTER*/

html, body {
  height: 100%;
  margin: 0;
}

.content {
  min-height: 100%;
  min-width: 100%;
}

.content-inside {
  padding: 20px;
  padding-bottom: 30px;
}

.footer {
  height: 100px;
  text-shadow: 1px 1px gray;
  background-color: #202020;
  color:white;
  margin-top: -90px;
}

.fa {
  margin:10px;
  color: #65A8FF;
}



.bottom_ul {
  list-style-type:none;
  float:right;
  margin-bottom:0px;
}

.bottom_ul li {
  float:left;
  line-height:40px;
}

.bottom_ul li:after {
  content:"/";
  color:#FFF;
  margin-right:8px;
  margin-left:8px;
}

.bottom_ul li a {
  color:#FFF;
  font-size:12px;
}


/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

/* The Close Button */
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

/*Media Queries
@media (min-width:576px) and (max-width: 768px) {
  Main Page

.change-trip {
  margin-top: ;
}

#weatherDisplay{
  margin-top:;
}


#map {
  height: 100px;
}

.card {
  margin-left: 100px;
}


Index Page
.img-fluid {
  height: 600px;
  margin-bottom: 0px;
}

.form-row {
  width: 720px;
 } 

.where {
  margin-left: 0px;
}


.carousel-caption {
  position: absolute;
  z-index: 1;
  display:table;
  width:100%;
  height:100%;
  top: 90%;
  font-size: 16px;
  }
}
@include media-breakpoint-up(md) { ... }
@include media-breakpoint-up(lg) { ... }*/