
<!--NAVBAR-->
.navbar, a, .navbar-brand {
  color: black;
  font-size: 18px;
  text-shadow: 1px 1px gray;
}

.navbar {
  border-bottom: 5px solid #202020;

}

.nav-link:hover {
  background-color: rgb(205, 218, 247);
  height: 50px;
}

<!--WEATHER-->
#weatherDisplay {
  background-color: #c9efc9;
  height: 80px;
  width: 200px;
}

#contactDisplay {
  background-color: #c9efca;
  height: 450px;
}


#aboutDisplay {
  background-color: #efcfc9;
  height: 450px;
}

#contentRow {
  height: 365px;
}

<!--MAP-->
#mapContainer {
  background-color: #c9d7ef;
}



<!--Activities Main-->
#activityContainer {
  background-color: #efcfc9;
}

.categories {
  height: 70px;
  width: 110px;
  text-align: center;
  border-radius: 10px;
  border: 1px solid gray;
}

.card:hover {
    box-shadow: inset 0 0 3px 4px  rgb(205, 218, 247);
}

.card {
  border: 1px solid gray;
}



<!--Carousel Index-->
.carousel-inner, .carousel-item, .img {
  height: 650px;
}

.carousel {
  border-bottom: 5px solid #202020;
}
.form-row {
  color: black;
  font-size: 22px;
  margin-bottom: 30px;
}

.carousel-caption {
    position: absolute;
    z-index: 1;
    display:table;
    width:100%;
    height:100%;
}

.trickcenter {
    position: fixed;
    top: 84%; 
    left: 50%;
    transform: translate(-50%, -50%);  
}

h1 {
  font-size: 80px;
  text-shadow: 3px 3px black;
}

h2 {
  text-shadow: 3px 3px black;
}



<!--Footer Every Page-->
footer, .footer {
   height:40px;
}



.bottom_ul {
  list-style-type:none;
  float:right;
  margin-bottom:0px;
}

.bottom_ul li {
  float:left;
  line-height:40px;
}

.bottom_ul li:after {
  content:"/";
  color:#FFF;
  margin-right:8px;
  margin-left:8px;
}

.bottom_ul li a {
  color:#FFF;
  font-size:12px;
}
