

#weatherDisplay {
  background-color: #c9efc9;
  height: 80px;
  width: 200px;
}

#contactDisplay {
  background-color: #c9efca;
  height: 450px;
}


#aboutDisplay {
  background-color: #efcfc9;
  height: 450px;
}

#contentRow {
  height: 600px;
}

#map {
  height: 100%;
  width: 100%;
}

<!--Activities-->
#activityContainer {
  background-color: #efcfc9;
}

.categories {
  height: 70px;
  width: 110px;
  text-align: center;
  border-radius: 10px;
  border: 1px solid gray;
}

.card:hover {
    box-shadow: 0 0 3px 2px rgba(0, 140, 186, 0.5);
}

.card {
  border: 1px solid gray;
}



<!--Footer-->
.footer {
   min-height:40px;
   background-color:#000000;
}

.footer p {
   text-align:left;
    color:#FFF;
    padding:10px 0;
    margin-bottom:0px;
}

.bottom_ul {
  list-style-type:none;
  float:right;
  margin-bottom:0px;
}

.bottom_ul li {
  float:left;
  line-height:40px;
}

.bottom_ul li:after {
  content:"/";
  color:#FFF;
  margin-right:8px;
  margin-left:8px;
}

.bottom_ul li a {
  color:#FFF;
  font-size:12px;
}
